.card {
    width: 45%;
    height: 75vh;
    border-radius: 20px;
    background: #07adee17;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;

   }
 
   .card-button {
    transform: translate(-50%, 125%);
    width: 20%;
    border-radius: 1rem;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out !important;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, -30%);
    opacity: 1;
   }